{% extends "base.html" %}

{% block title %}{{ user.username }}'s Profile{% endblock title %}

{% block main %}
	<table width="100%">
		<tr>
			<td width="20%">Username:</td>
			<td>{{ user.username }}</td>
		</tr>

		<tr>
			<td width="20%">Editable Lists:</td>
			<td> You have {{ user.get_profile.num_editable_lists }} editable lists
			
			{% for list in user.get_profile.editable_lists %}
				<tr> <td width="20%"> </td>
				<td> <a href="{% url url_sentences_show_list list.id %}">{{ list }} </a></td>
				</tr>
			{% endfor %}
			
		</tr>		

		<tr>
			<td></td>
		</tr>
	</table>
	
{% endblock main %}
