{% extends "base.html" %}

{% block javascript_include %}
<script type="text/javascript" src="/static/js/start_list.js"></script>
{% endblock javascript_include %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/dnd.css" />
<link rel="stylesheet" type="text/css" href="/static/css/list_manager.css" />
{% endblock css %}

{% block init_javascript %}
	{% for list in user_lists %}
	get_list({{list}})
	{%endfor%}
{% endblock init_javascript %}

{% block main %}

<div id="debug">
</div>


<div id="dnd_area">
</div>

<br />
<a href="javascript:get_list(1)">get list 1</a> 


{% endblock main %}
