{% extends "base.html" %}

{% block javascript_include %}
<script type="text/javascript" src="/static/js/start_list.js"></script>
{% endblock javascript_include %}

{% block css %}
<!-- this does not seem needed but it was included in the sitepen tutorial
<link rel="stylesheet" type="text/css" href="/static/js/dojotoolkit/dojo/resources/dnd.css" /> 
-->
<link rel="stylesheet" type="text/css" href="/static/css/dnd.css" />
<link rel="stylesheet" type="text/css" href="/static/css/list_manager.css" />
{% endblock css %}

{% block main %}

<div id="xhrget_reponse_test">
Here!
</div>


<div class="dnd_list_container">
	<h2>Wishlist</h2>
	<ol id="start_list_nodes" class="container"></ol>
</div>




{% endblock main %}
