{% extends "sentences/checkbox_list.html" %}

{% block title %}
	{% if list.name %}
		{{ list.name }}
	{% else %}
		List
	{% endif %}
{% endblock title %}

{% block main %}
	<h1> {{ list.name }} </h1>
	
	{{ list.number_of_sentences }} sentence(s) in this list

	<table width="100%">
		{% for sentence in list.sentence.all %}
			<tr>
				<td>
					{% if user.is_authenticated %}
						Add to list:
						<input type="checkbox" id={{ sentence.id }} class="list_check_boxes" />
					{% endif %}
				</td>
				<td><a href="{% url url_sentences_sentence sentence.id %}">{{ sentence.sentence }}</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock main %}
