{% extends "base.html" %}

{% block title %}
	{% if list.name %}
		{{ list.name }}
	{% else %}
		List
	{% endif %}
{% endblock title %}

{% block javascript_include %}
<script type="text/javascript" src="/static/js/ajax_edit_list.js"
djConfig="parseOnLoad:true, isDebug:false"></script>
{% endblock javascript_include %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/show_list.css" />
{% endblock css %}

{% block main %}
	<h1> {{ list.name }} {{ list.id }} </h1>
	
	{{ list.number_of_sentences }} sentence(s) in this list 
	<br />

	Export this list as.. <a href="{% url url_lists_export list.id %}?export_type=Text">a text file.</a><a href="{% url url_lists_export list.id %}?export_type=Anki">an anki deck.</a> 
	<br /> <br />

		{% for sentence in list.sentence.all %}
		<div id="sentence_entry_{{sentence.id}}" class="row">	
			<div class="list-text"
				<a href="{% url url_sentences_sentence sentence.id %}">{{ sentence.short_form }}</a>
			</div>
			<div class="remove_button">
				{% if user.is_authenticated %}
				<button dojoType="dijit.form.Button" type="button" class="small_button" iconClass="dijitEditorIcon dijitEditorIconCopy">
				Remove from list
				<script type="dojo/method" event="onClick" args="evt">
					remove_from_list( {{sentence.id}}, {{list.id}} );
				</script>
				</button>
				{% endif %}
			</div>
			<div id=response{{ sentence.id }} class="response"> 
			</div>
		</div>
		{% endfor %}
	
	{% ifequal list.id user.get_profile.quick_list.id %}
		<div class="main_footer">
		<a href="{% url url_lists_savequicklist %}"> Save this to a new list </a> 
		</div>
	{% else %}
	{% endifequal %}
{% endblock main %}
