{% extends "base.html" %}}

{% block title %}All list{% endblock title %}

{% block main %}
		{% for list in page.object_list %}
            <br />
    		<a href="{% url url_sentences_show_list list.id %}">{{ list.name }}</a>
		    {% ifequal user.id list.profile.user.id %}
				Delete / Edit.
			{% endifequal %}
		{% endfor %}
    <br />	
	Pages:
	<span>
		{% for page_num in paginator.page_range %}
			<a href="{% url url_lists_show_all %}?page={{ page_num }}">{{ page_num }}</a>
		{% endfor %}
	</span>
{% endblock main %}
