{% extends "sentences/checkbox_list.html" %}

{% block title %}
	{% if list.name %}
		{{ list.name }}
	{% else %}
		List
	{% endif %}
{% endblock title %}

{% block main %}
	<h1> {{ list.name }} {{ list.id }} </h1>
	
	{{ list.number_of_sentences }} sentence(s) in this list <br />
	Export this list as.. <a href="{% url url_lists_export list.id %}?export_type=Text">a text file.</a>

	<table width="100%">
		{% for sentence in list.sentence.all %}
			<tr>
				<td>
					{% if user.is_authenticated %}
						Quicklist
						<input type="checkbox" id={{ sentence.id }}  class="list_check_boxes" />
					{% endif %}
				</td>
				<td><a href="{% url url_sentences_sentence sentence.id %}">{{ sentence.short_form }}</a></td>
			</tr>
		{% endfor %}
	</table>
	
	{% ifequal list.id user.get_profile.quick_list.id %}
		<a href="{% url url_lists_savequicklist %}"> Save this to a new list </a> 
	{% else %}
	{% endifequal %}
{% endblock main %}
