body {
	background-color: #EEEEEE;
}

#sidebar {
	width: 24%;
	float: left;
	border: 1px solid gray;
	padding: 2px;
}

#main {
	width: 73%;
	float: right;
	border: 1px solid gray;
	padding: 10px;
}

.main_footer {
	width: 100%;
	float: left;
}

table {
	border-style: solid;
	border-width: 1px;
}

.sidebar_sentence_head, .sidebar_sentence_item, .sidebar_list_head, .sidebar_list_item, .sidebar_account_head, .spacer {
	border-top: 1px solid;
	border-color: white;
}

.sidebar_sentence_head {
	background-color: #66CC66;
}

.sidebar_sentence_item {
	background-color: #99FF99;
}

.sidebar_list_head {
	background-color: #6699CC;
}

.sidebar_list_item {
	background-color: #CCCCFF;
}

.sidebar_account_head {
	background-color: #FF9999;
}

.spacer {
	background-color: Gray;
	height: 2px;
}

.response {
	margin-top: 6px;
}
