{% extends "base.html" %}
{% load tagging_tags %}

{% block title %}Sentences{% endblock title %}

{% block main %}
	<h1>Latest sentences:</h1>
	{% if latest_sentences_list %}
		<ul>
		{% for sentence in latest_sentences_list %}
			<li><a href=/sentences/{{ sentence.id }}>{{ sentence.sentence }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No sentences =(</p>
	{% endif %}
	<h2>Tag Cloud</h2>
	
	{% tag_cloud_for_model sentences.Sentence as object_list %}
	
	{% for tag in object_list %}
			<a href="{% url tagging.views.tagged_object_list tag %}"> 
			<font size="{{tag.font_size}}"> {{tag.name}} </font>
 			</a>
	{% endfor %}
	
	<h2>Word Cloud</h2>
	{% tag_cloud_for_model sentences.SentenceWords as object_list %}
	
	{% for tag in object_list %}
			<a href="{% url tagging.views.tagged_object_list tag %}"> 
			<font size="{{tag.font_size}}"> {{tag.name}} </font>
 			</a>
	{% endfor %}

{% endblock main %}
