{% extends "sentence_list_buttons.html" %}

{% block title %}All sentences{% endblock title %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/list_sentences.css" />
{% endblock css %}

{% block buttons %}

{% if not inql %}
	<div class="quicklist_button" 
	onMouseOver="highlight({{sentence.id}});"
	onMouseOut="no_highlight({{sentence.id}});">				

	<button dojoType="dijit.form.Button" 
	type="button" class="small_button" 
	iconClass="dijitEditorIcon dijitEditorIconCopy" 
	id="quicklist_button_{{forloop.counter}}">
		Quicklist
		<script type="dojo/method" event="onClick" args="evt">
			add_to_list( {{sentence.id}}, {{quicklist.id}} );
			dijit.byId("quicklist_button_{{forloop.counter}}").attr("disabled", "true");
		</script>
	</button>

{% else %}
	<div class="quicklist_button">
		<button dojoType="dijit.form.Button" 
		type="button" disabled=true class="small_button" 
		iconClass="dijitEditorIcon dijitEditorIconCopy">
			Quicklist
		</button>
{% endif %}
</div>
				
<div class="otherlist_button"				
onMouseOver="highlight({{sentence.id}});"
onMouseOut="no_highlight({{sentence.id}});">
	<div dojoType="dijit.form.DropDownButton" 
	class="small_button" 
	iconClass="dijitEditorIcon dijitEditorIconCopy">
		<span>
			Add to list
		</span>    
		<div dojoType="dijit.Menu">
		{% for list in user.get_profile.editable_lists %}
			<div dojoType="dijit.MenuItem">
				{{list}}
				<script type="dojo/method" event="onClick" args="evt">
					add_to_list( {{sentence.id}}, {{list.id}} );
				</script>
	  		</div>
		{% endfor %}	
		</div>      
	</div> 
</div>

<div id="response{{ sentence.id }}" class="response"> 
</div>

{% endblock buttons %}
