{% extends "base.html" %}

{% block javascript_include %}
<script type="text/javascript" src="/static/js/ajax_edit_list.js"
djConfig="parseOnLoad:true, isDebug:false"></script>
<script type="text/javascript" src="/static/js/highlight_sentence.js"
djConfig="parseOnLoad:true, isDebug:false"></script>
{% endblock javascript_include %}

{% block title %}All sentences{% endblock title %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/list_sentences.css" />
{% endblock css %}

{% block main %}
	

		{% for sentence, inql in sentence_page_ql %}
		
		<div id="sentence_entry_{{sentence.id}}" class="row">	
			
			<div id="sentence_text_{{sentence.id}}" class="sentence-text"> 
				<a href="{% url url_sentences_sentence sentence.id %}" 
				onMouseOver="highlight({{sentence.id}})" 
				onMouseOut="no_highlight({{sentence.id}})">
				{{ sentence.short_form }}
				</a>
			</div>
			
			{% if user.is_authenticated %}
				{% if not inql %}
				<div class="quicklist_button" 
				onMouseOver="highlight({{sentence.id}});"
				onMouseOut="no_highlight({{sentence.id}});">				
				
				<button dojoType="dijit.form.Button" 
				type="button" class="small_button" 
				iconClass="dijitEditorIcon dijitEditorIconCopy" 
				id="quicklist_button_{{forloop.counter}}">
					Quicklist
					<script type="dojo/method" event="onClick" args="evt">
						add_to_list( {{sentence.id}}, {{quicklist.id}} );
						dijit.byId("quicklist_button_{{forloop.counter}}").attr("disabled", "true");
					</script>
				</button>
				{% else %}
				<div class="quicklist_button">
					<button dojoType="dijit.form.Button" type="button" disabled=true class="small_button" iconClass="dijitEditorIcon dijitEditorIconCopy">
					Quicklist
				</button>
				{% endif %}
			</div>

			

				
			<div class="otherlist_button"				
			onMouseOver="highlight({{sentence.id}});"
			onMouseOut="no_highlight({{sentence.id}});">
				<div dojoType="dijit.form.DropDownButton" 
				class="small_button" 
				iconClass="dijitEditorIcon dijitEditorIconCopy">
					<span>
						Add to list
					</span>    
					<div dojoType="dijit.Menu">
					{% for list in user.get_profile.editable_lists %}
						<div dojoType="dijit.MenuItem">
							{{list}}
							<script type="dojo/method" event="onClick" args="evt">
								add_to_list( {{sentence.id}}, {{list.id}} );
							</script>
				  		</div>
					{% endfor %}	
					</div>      
				</div> 
			</div>

			<div id="response{{ sentence.id }}" class="response"> </div>
		</div>
		{% endif %}
		{% endfor %}
	
	<div class="main_footer">
	Pages:
	<span>
		{% for page in sentence_paginator.page_range %}
			<a href="{% url url_sentences_list %}?page={{ page }}">{{ page }}</a>
		{% endfor %}
	</span>
	</div>
{% endblock main %}
