{% extends "sentences/js_list.html" %}

{% block title %}All sentences{% endblock title %}

{% block main %}
	<div id="response"> </div>
	<table width="100%">
		{% for sentence in sentence_page.object_list %}
			<tr>
				<td>
					<a href="{% url url_sentences_sentence sentence.id %}">{{ sentence.short_form }}</a>
				</td>
				<td>
				<button dojoType="dijit.form.Button" type="button" class="small_button">
					Quicklist
					<script type="dojo/method" event="onClick" args="evt">
						add_to_quicklist( {{ sentence.id }} );
					</script>
				</button>
				</td>
				<td>
				
<div dojoType="dijit.form.DropDownButton" class="small_button">
    <span>
        Register
    </span>
    <div dojoType="dijit.TooltipDialog">
        <label for="name2">
            Name:
        </label>
        <input dojoType="dijit.form.TextBox" name="name2">
        <br>
        <label for="hobby2">
            Hobby:
        </label>
        <input dojoType="dijit.form.TextBox" name="hobby2">
        <br>
        <button dojoType="dijit.form.Button" type="submit">
            Save
        </button>
    </div>
</div>

				</td>
				<td>
				<div id=response{{ sentence.id }}> </div>
				</td>
			</tr>
		{% endfor %}
	</table>
	
	Pages:
	<span>
		{% for page in sentence_paginator.page_range %}
			<a href="{% url url_sentences_list %}?page={{ page }}">{{ page }}</a>
		{% endfor %}
	</span>
{% endblock main %}
