{% extends "base.html" %}

{% block title %} Viewing Sentence {% endblock title %}

{% block main %}
<h1>{{ sentence.sentence }}</h1>
<h3>{{ sentence.translation }}</h3>

		{% if sentence.has_tags %}
			Tags / {% for tag in sentence.get_tags %}
				<a href="{% url tagging.views.tagged_object_list tag %}"> {{ tag }}</a> / 
			{% endfor %}
		{% else %}
			Tags: None
		{% endif %}

		{% for media in sentence.media.all %}
			{% if media %}

				{% ifequal media.type "Image" %}
					<img src= /static/{{ media.image }}/>
				{% else %}
					{% ifequal media.type "Video" %}
						<video src=/static/{{ media.file }} width=300 height=200 controls=True>
						<p>Please upgrade to a browser that supports video tags.</p>
						</video>
					{% else %}
						<video src=/static/{{ media.file }} width=300 height=50 controls=True>
						<p>Please upgrade to a browser that supports video tags.</p>
						</video>
					{% endifequal %}
				{% endifequal %}

			{% endif %}
		{% endfor %}

	</table>

	<h3>
		{% ifequal sentence.user.get_profile.id user.id %}
			Posted by you. <br /> <a href="{% url url_sentences_delete sentence.id %}">Delete</a> this sentence.
		{% else %}
			Posted by <a href="{% url url_accounts_profile sentence.user.id %}">{{ sentence.user.username }}</a>
		{% endifequal %}
	</h3>
	
	<!--{% comment %}<table width="100%">
		{% if more %}
			More sentences like this:
			{% for sentence in more %}
				<tr><td><a href="{% url url_sentences_sentence sentence.object.id %}">{{ sentence.object.sentence }}</a><td></tr>
			{% endfor %}
		{% endif %}
	</table>{% endcomment %}-->
{% endblock main %}
