{% extends "base.html" %}

{% block title %} Viewing Sentence {% endblock title %}

{% block main %}
	<h1>{{ sentence.sentence }}</h1>
	<ul>
	{% for media in sentence.media_set.all %}
		{% if media %}
			<li>
			{% ifequal media.type "Image" %}
				<img src= /static/{{ media.image }}/>
			{% else %}
				{% ifequal media.type "Video" %}
					<video src=/static/{{ media.file }} width=300 height=200 controls=True>
					<p>Please upgrade to a browser that supports video tags.</p>
					</video>
				{% else %}
					<video src=/static/{{ media.file }} width=300 height=50 controls=True>
					<p>Please upgrade to a browser that supports video tags.</p>
					</video>
				{% endifequal %}
			{% endifequal %}
			</li>
		{% endif %}
	{% endfor %}	
	</ul>
	
	<h3>
		{% ifequal sentence.profile.user.username user.username %}
			Posted by you. <a href="{% url url_sentences_delete sentence.id %}">Delete</a> / Edit this sentence.
		{% else %}
			Posted by <a href="{% url url_accounts_profile sentence.profile.user.id %}">{{ sentence.profile.user.username }}</a>
		{% endifequal %}
	</h3>
{% endblock main %}
