{% extends "base.html" %}

{% block title %} Viewing Sentence {% endblock title %}

{% block main %}
<h1>{{ object.sentence }}</h1>
<h3>{{ object.translation }}</h3>

		{% if object.has_tags %}
			Tags / {% for tag in object.get_tags %}
				<a href="{% url url_sentences_tags tag %}"> {{ tag }}</a> / 
			{% endfor %}
		{% else %}
			Tags: None
		{% endif %}
		<br />
		{% if object.has_words %}
			Words / {% for word in object.get_words %}
				<a href="{% url url_sentences_words word %}"> {{ word }}</a> / 
			{% endfor %}
		{% else %}
			Words: None
		{% endif %}

		{% for media in object.media.all %}
			{% if media %}

				{% ifequal media.type "Image" %}
					<img src= /static/{{ media.image }}/>
				{% else %}
					{% ifequal media.type "Video" %}
						<video src=/static/{{ media.file }} width=300 height=200 controls=True>
						<p>Please upgrade to a browser that supports video tags.</p>
						</video>
					{% else %}
						<video src=/static/{{ media.file }} width=300 height=50 controls=True>
						<p>Please upgrade to a browser that supports video tags.</p>
						</video>
					{% endifequal %}
				{% endifequal %}

			{% endif %}
		{% endfor %}

	</table>
	
	<br />
	<table width="100%">
		{% if more %}
			More sentences like this:
			{% for r_sentence in more %}
				<tr><td><a href="{% url url_sentences_sentence r_sentence.object.id %}">{{ r_sentence.object.sentence }}</a><td></tr>
			{% endfor %}
		{% endif %}
	</table>

	<h3>
		{% ifequal object.user.get_profile.id user.id %}
			Posted by you. <br /> <a href="{% url url_sentences_delete object.id %}">Delete</a> this sentence.
		{% else %}
			Posted by <a href="{% url url_accounts_profile object.user.id %}">{{ object.user.username }}</a>
		{% endifequal %}
	</h3>
{% endblock main %}
