{% extends "base.html" %}

{% block title %}
	Word
{% endblock title %}

{% block javascript_include %}
<script type="text/javascript" src="/static/js/smart-fm.js"
djConfig="parseOnLoad:true, isDebug:false"></script>
{% endblock javascript_include %}

{% block main %}

	Found {{object_list|length}} sentence(s) tagged with word "{{tag}}"

	<table width="100%">
	{% for word in object_list %}
	{% for sentence in word.sentence_set.all %}
	<tr>
		<td>
			{% if user.is_authenticated %}
			{% endif %}
		</td>
		<td><a href="{% url url_sentences_sentence sentence.id %}">{{ sentence.sentence }}</a></td>
		<td>
			<a href="{% url url_sentences_delete sentence.id %}">Delete</a> / Edit.
		</td>
	</tr>
	
	{% endfor %}
	{% endfor %}
	</table>
	
	<br />
	
	<div id='smart_fm'> 
		<a href="javascript:get_sentences_from_smart_fm('{{tag}}')">more from smart.fm</a> 
	</div>

{% endblock main%}
