<html>
	<head>
	{% block css %}<link rel="stylesheet" type="text/css" href="/Media/css/base.css" />{% endblock css %}
	<title>{% block title %}Default Title{% endblock title %} - Anki Resource</title>
	</head>
	
	<body>
		{% block top %}
			{% if user.is_authenticated %}
				Welcome, {{ user.username }}.
				<a href="{% url url_accounts_logout %}">Logout.</a>
			{% else %}
				You are not signed in. 
				<a href="{% url url_accounts_login %}">Login.</a>
			{% endif %}
		{% endblock top %}
		<table width="100%">
			<tr>
				<td width="25%" valign=top>
				{% block sidebar %}
					<table width="100%">
						<tr>
							<td>{% block main_menu_title %}Main Menu{% endblock main_menu_title %}</td>
						</tr>
						{% block main_menu_content %}
							<tr><td><a href="{% url url_sentences_index %}">Sentences</a></td></tr>
							<tr><td><a href="{% url url_accounts_index %}">Account</a></td></tr>
						{% endblock main_menu_content %}
					</table>
				{% endblock sidebar %}
				</td>
				<td width="75%" valign=top>{% block main %}Default{% endblock main %}</td>
			</tr>
		</table>
	</body>
	
</html>
