<html>
	<head>
	{% block javascript_toolkit %}
			<!-- load the dojo toolkit base -->
			<script type="text/javascript" src="/static/js/dojotoolkit/dojo/dojo.js"
				djConfig="parseOnLoad:true, isDebug:false"></script>
	{% endblock javascript_toolkit %}
	
	<script type="text/javascript">
		{% block javascript %}{% endblock javascript %}
		
		function init() {
			{% block init_javascript %}{% endblock init_javascript %}
		}
		
		dojo.addOnLoad(init);
	</script>
	
	{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/js/dojotoolkit/dijit/themes/tundra/tundra.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/dijit.css" />
	{% endblock css %}
	
	<title>{% block title %}Default Title{% endblock title %} - Anki Resource</title>
	</head>
	
	<body class="tundra">
		{% block top %}
			{% if user.is_authenticated %}
				Welcome, {{ user.username }}.
				<a href="{% url url_accounts_logout %}">Logout.</a> <a href="{% url url_sentences_show_list user.get_profile.quick_list.id %}">Quick List.</a>
			{% else %}
				You are not signed in. 
				<a href="{% url url_accounts_login %}">Login</a> / <a href="{% url url_accounts_register %}">Register</a>
			{% endif %}
		{% endblock top %}
		<table width="100%">
			<tr>
				<td width="25%" valign=top>
				{% block sidebar %}
					<table width="100%">
						<tr>
							<td>{% block main_menu_title %}Main Menu{% endblock main_menu_title %}</td>
						</tr>
						{% block main_menu_content %}
							<tr class=sidebar_sentence_head><td><a href="{% url url_sentences_index %}">Sentences</a></td></tr>
							<tr class=sidebar_sentence_item><td><a href="/search/">Search</a></td></tr>
							<tr class=sidebar_sentence_item><td><a href="{% url url_sentences_list %}">View all</a></td></tr>
							<tr class=sidebar_sentence_item><td><a href="{% url url_sentences_new %}">Add new</a></td></tr
							<tr class=spacer><td></td></tr>
							
							
							<tr class=sidebar_list_head><td><a href="{% url url_manager_index %}">Lists</a></td></tr>
							<tr class=sidebar_list_item><td><a href="{% url url_lists_show_all %}">Show all</a></td></tr>
							<tr class=sidebar_list_item><td><a href="{% url url_sentences_new_list %}">Add new</a></td></tr>
							<tr class=spacer><td></td></tr>
							
							
							<tr class=sidebar_account_head><td><a href="{% url url_accounts_index %}">Account</a></td></tr>
							{% if not user.is_authenticated %}
								<tr class=main_menu_item><td><a href="{% url url_accounts_register %}">Register</a></td></tr>
							{% endif %}
						{% endblock main_menu_content %}
					</table>
				{% endblock sidebar %}
				</td>
				<td width="75%" valign=top>{% block main %}{% endblock main %}</td>
			</tr>
		</table>

	{% include "everypage/tracker.html" %}	

	</body>
	
</html>
